/* Reset some default styles to ensure consistency across browsers */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background image for the entire page */
body {
    background-image: url('AdobeStock_298473896.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Style the header */
h1 {
    text-align: center;
    font-weight: bold;
    color: #000;
    padding: 0px;
}

header {
    text-align: center;
    color: #000;
    padding: 10px;
}


.banner-check-box-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items in the center */
}

/* Style the home button */
.home-button {
    width: 120px; /* Set a specific width for both buttons */
    padding: 10px 0; /* Adjust padding as needed */
    background-color: #D094EA;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center-align text */
    text-decoration: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}

/* Style the home button on hover */
.home-button:hover {
    background-color: #9f00e9;
}

/* Style the reset button */
#resetBtn {
    width: 120px; /* Set the same specific width as the Home button */
    padding: 10px 0; /* Adjust padding to match the Home button */
    background-color: #F59794;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center-align text */
    text-decoration: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}

/* Style the reset button on hover */
#resetBtn:hover {
    background-color: #ee534e; /* Change the color to a different shade of red on hover */
}

/* Add CSS for the back button */
#backBtn {
    width: 120px; /* Set the same specific width for both buttons */
    padding: 10px 0; /* Adjust padding to match the Home button and Reset button */
    background-color: #6C757D; /* Choose a background color */
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center-align text */
    text-decoration: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

#nextBtn {
    width: 120px; /* Set the same specific width for both buttons */
    padding: 10px 0; /* Adjust padding to match the Home button and Reset button */
    background-color: #6C757D; /* Choose a background color */
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center-align text */
    text-decoration: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    visibility: visible; /* Initially set to visible */
}

/* Style the back button on hover */
#backBtn:hover {
    background-color: #495057; /* Change the color on hover */
}

/* Style the back button on hover */
#nextBtn:hover {
    background-color: #495057; /* Change the color on hover */
}

.back-next-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items in the center */

}

.zip-file-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    border-radius: 10px;
}
/* Style the form container */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    border-radius: 10px;
    position: relative;
    padding-top: 40px; /* Increase spacing to make room for buttons */
}

/* Style the file input */
input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D094EA;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

input[type="text" i]  {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D094EA;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.inputContainer {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.iframes-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    border-radius: 10px;
    visibility: hidden;
}


.indexbox {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

/* Style the buttons */
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #D094EA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Style the reset button on hover */
button:hover {
    background-color: #9f00e9;
}
/* Add CSS for center-aligning the result container */
#result {
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    background-color: transparent;
   /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);*/
    border-radius: 10px;
    display: none;
}

span {
    background-color: #FFF:
    border-radius:10px; 
}

/* Center-align the table */
table {
    width: 100%;
    margin: 10px auto; /* Center-align the table horizontally */
    border-collapse: collapse;
}


/* Style the table header with rounded corners for the outside borders */
th {
    background-color: #D094EA;
    color: #fff;
    padding: 10px;
    text-align: left;
    position: relative; /* Add relative positioning for pseudo-elements */
}

/* Style the table rows */
tr {
    border-bottom: 1px solid #ccc;

}

/* Style the table data cells with word breaking */
td.url-cell {
    word-break: break-all;
    white-space: normal;
    max-width: 100%;
    padding: 10px;
}

/* Style the dimensions display */
.dimensions {
    border-radius: 10px;
    background-color: #9f00e9;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/* CSS for the container of the iframes */
.iframe-container {
    display: flex;
/*    justify-content: space-between;*/
    margin: 20px;
}

/* Style for individual iframes */
.index-iframe,
.fallback-iframe {
    border: 1px solid #ccc; /* Add a border for clarity */
    margin-right: 10px; /* Add some margin between iframes */
}

footer {
    text-align: center;
    color: #000;
    padding: 10px;
}

span {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
